<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./image.css" />
    <title>Intact UI | Image</title>
</head>

<body>
    <h3>basic image 250px/250px</h3>
    <img src="../../assets/people.jpg" alt="3 random people" class="img" />
    <h3>responsive image</h3>
    <img src="../../assets/people.jpg" alt="3 random people" class="img img-responsive" />
    <h3>round image</h3>
    <img src="../../assets/people.jpg" alt="3 random people" class="img img-round" />
</body>

</html>
