* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-gap: 1.25rem;
    margin: 1.5rem;
}

.grid {
    display: grid;
    width: 100%;
    height: 100%;
}

.grid-item {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 1.5rem;
    border: 1px solid lightgray;
}

.grid-col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
    grid-template-columns: repeat(4, 1fr);
}
