<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./card.css" />
    <link rel="stylesheet" href="../button/button.css" />
    <script src="https://kit.fontawesome.com/8831240330.js" crossorigin="anonymous"></script>
    <title>Intact UI | Card</title>
</head>

<body>
    <div class="card-container">
        <h4>Default Vertical card</h4>
        <div class="card">
            <div class="card-content">
                <h6 class="card-badge">NEW</h6>
                <div class="wishlist"><i class="far fa-heart"></i></div>
                <img src="../../assets/cap.jpg" alt="cap" class="card-img" />
                <h3 class="card-title">Card title</h3>
                <p class="card-subtitle">Sub title</p>
                <div class="card-pricing">
                    <p>Rs 500</p>
                    <strike>Rs 1000</strike>
                    <p class="small-font">(50% OFF)</p>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary">
            <i class="fas fa-cart-plus"></i>Add to cart
          </button>
            </div>
        </div>

        <h4>Default Vertical card with text overlay</h4>
        <div class="card card-overlay">
            <div class="overlay-content">
                <h4 class="overlay-text">Out of stock</h4>
            </div>
            <div class="card-content">
                <h6 class="card-badge">NEW</h6>
                <div class="wishlist"><i class="far fa-heart"></i></div>
                <img src="../../assets/cap.jpg" alt="cap" class="card-img" />
                <h3 class="card-title">Card title</h3>
                <p class="card-subtitle">Sub title</p>
                <div class="card-pricing">
                    <p>Rs 500</p>
                    <strike>Rs 1000</strike>
                    <p class="small-font">(50% OFF)</p>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary">
            <i class="fas fa-cart-plus"></i>Add to cart
          </button>
            </div>
        </div>

        <h4>Horizontal card</h4>
        <div class="card card-horizontal">
            <div class="card-header">
                <img src="../../assets/cap.jpg" alt="cap-image" class="card-img" />
            </div>
            <div class="card-content">
                <h3>Title</h3>
                <p>Subtitle</p>
                </p>Rs 500</p>
                <strike>Rs 1000</strike>
                <p>50% OFF</p>
                <button class="btn btn-primary">
                <i class="fas fa-cart-plus"></i>Add to cart
                </button>
                <button class="btn btn-secondary-outline">Move to wishlist
                </button>
            </div>
        </div>

        <h4>Basic card</h4>
        <div class="card">
            <div class="card-header">
                <h3>Title</h3>
            </div>
            <div class="card-content">
                <p class="card-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet perspiciatis consequatur quod molestias iste aliquid reiciendis, illum similique nam tenetur consequuntur est iusto ipsum veritatis soluta beatae nihil aperiam accusamus?
                </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary">READ MORE</button>
            </div>
        </div>

        <h4>Dismissable card</h4>
        <div class="card">
            <div class="card-header">
                <h3>Title</h3>
                <div class="wishlist"><i class="fas fa-times"></i></div>
            </div>
            <div class="card-content">
                <p class="card-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet perspiciatis consequatur quod molestias iste aliquid reiciendis, illum similique nam tenetur consequuntur est iusto ipsum veritatis soluta beatae nihil aperiam accusamus?
                </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary">READ MORE</button>
            </div>
        </div>

        <h4>Text only card</h4>
        <div class="card">
            <div class="card-header">
                <h3>Title</h3>
            </div>
            <div class="card-content">
                <p class="card-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet perspiciatis consequatur quod molestias iste aliquid reiciendis, illum similique nam tenetur consequuntur est iusto ipsum veritatis soluta beatae nihil aperiam accusamus?
                </p>
            </div>
        </div>
    </div>
</body>

</html>
