<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./button.css" />
    <script
      src="https://kit.fontawesome.com/8831240330.js"
      crossorigin="anonymous"
    ></script>
    <title>Intact-UI Button</title>
  </head>
  <body>
    <div class="btn-container">
      <h2>Solid buttons</h2>
      <button class="btn btn-primary">Primary</button>
      <button class="btn btn-secondary">Secondary</button>
      <h2>Outline buttons</h2>
      <button class="btn btn-primary-outline">Primary</button>
      <button class="btn btn-secondary-outline">Secondary</button>
      <h2>Disabled buttons</h2>
      <button class="btn btn-primary btn-disabled">Submit</button>
      <button class="btn btn-secondary btn-disabled">Claim now</button>
      <h2>Text buttons</h2>
      <button class="btn btn-primary-text">Primary</button>
      <button class="btn btn-secondary-text">Secondary</button>
      <h2>Sized buttons</h2>
      <button class="btn btn-primary btn-small">Small</button>
      <button class="btn btn-secondary btn-small">Small</button>
      <button class="btn btn-primary btn-large">Large</button>
      <button class="btn btn-secondary btn-large">Large</button>
      <h2>Icon buttons</h2>
      <button class="btn btn-primary">
        <i class="fas fa-cart-plus"></i>Add to cart
      </button>
      <button class="btn btn-secondary-icon">
        <i class="fas fa-plus"></i>Add
      </button>
      <button class="btn btn-primary-icon">
        <i class="fas fa-trash"></i>Delete
      </button>
      <h2>floating buttons</h2>
      <button class="btn btn-primary btn-float">
        <i class="fas fa-trash"></i>
      </button>
      <button class="btn btn-primary btn-float">
        <i class="fas fa-plus"></i>
      </button>
      <button class="btn btn-primary btn-float">
        <i class="fas fa-pen"></i>
      </button>
    </div>
  </body>
</html>
