<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../main.css" />
    <link rel="icon" type="image/png" href="../../assets/favicon-iu.png" />
    <script src="https://kit.fontawesome.com/8831240330.js" crossorigin="anonymous"></script>
    <title>Intact UI | Button</title>
</head>

<body>
    <nav class="nav-section">
        <a href="../../index.html" id="logo">
            <h1 class="primary-color-text fw-900 text-l">
                Intact <span class="secondary-color-text fw-600 text-l">UI</span>
            </h1>
        </a>
        <a href="../docs.html">
            <p id="docs" class="text-s secondary-color-text fw-600">Docs</p>
        </a>
        <a href="https://github.com/Meghana-sk/Intact-UI/tree/devIntact">
            <i class="fab fa-github fa-2x"></i>
        </a>
        <a href="https://www.linkedin.com/in/meghanask">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="https://twitter.com/meghana__sk">
            <i class="fab fa-twitter fa-2x"></i>
        </a>
    </nav>

    <div class="open-sidebar"><i class="fas fa-bars fa-2x"></i></div>

    <main class="main">
        <aside class="side-bar">
            <div class="close-sidebar"><i class="fas fa-times fa-2x"></i></div>
            <div><a href="../docs.html">Installation</a></div>
            <div><a href="../typography/textUtils.html">Text utilties</a></div>
            <h3>Components</h3>
            <div><a href="../alert/alert.html">Alert</a></div>
            <div><a href="../avatar/avatar.html">Avatar</a></div>
            <div><a href="../badge/badge.html">Badge</a></div>
            <div><a href="../button/button.html">Button</a></div>
            <div><a href="../card/card.html">Card</a></div>
            <div><a href="../grid/grid.html">Grid</a></div>
            <div><a href="../image/image.html">Image</a></div>
            <div><a href="../input/input.html">Input</a></div>
            <div><a href="../modal/modal.html">Modal</a></div>
            <div><a href="../toast/toast.html">Toast</a></div>
        </aside>
        <div class="content">
            <h1>Button</h1>
            <p>
                Buttons allow users to take actions, and make choices, with a single tap.
            </p>
            <h2>Usage</h2>

            <h3>Solid buttons</h3>
            <p>Contained buttons are high-emphasis, distinguished by their use of elevation and fill. They contain actions that are primary to your app.</p>
            <div class="demo-container">
                <div>
                    <button class="btn btn-primary text-s">Primary</button>
                </div>
                <div>
                    <button class="btn btn-secondary text-s">Secondary</button>
                </div>
            </div>

            <div class="iframe-container">
                <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520text-s%2522%253EPrimary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary%2520text-s%2522%253ESecondary%253C%252Fbutton%253E%250A"
                    style="width: 631px; height: 225px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>

            <h3>Outline buttons</h3>
            <p>Outlined buttons are medium-emphasis buttons. They contain actions that are important, but aren’t the primary action in an app. Outlined buttons are also a lower emphasis alternative to contained buttons, or a higher emphasis alternative to
                text buttons.
            </p>
            <div class="demo-container">
                <div>
                    <button class="btn btn-primary-outline text-s">Primary</button>
                </div>
                <div>
                    <button class="btn btn-secondary-outline text-s">Secondary</button>
                </div>
            </div>
            <div class="iframe-container">
                <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary-outline%2520text-s%2522%253EPrimary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary-outline%2520text-s%2522%253ESecondary%253C%252Fbutton%253E"
                    style="width: 698px; height: 206px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>

            <h3>Disabled buttons</h3>
            <p>When button should be un-clickable and unusable, disabled buttons are used <span class="secondary-color-text fw-900">disabled</span> HTML attribute along with disabled button of Intact UI can be used</p>
            <div class="demo-container">
                <div>
                    <button class="btn btn-primary text-s btn-disabled">Submit</button>
                </div>
                <div>
                    <button class="btn btn-secondary text-s btn-disabled">Claim now</button>
                </div>
            </div>
            <div class="iframe-container">
                <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520text-s%2520btn-disabled%2522%253ESubmit%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary%2520text-s%2520btn-disabled%2522%253EClaim%2520now%253C%252Fbutton%253E%250A"
                    style="width: 740px; height: 225px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>

            <h3>Text buttons</h3>
            <p>Text buttons are typically used for less-pronounced actions, including those located in dialogs or in cards.</p>
            <div class="demo-container">
                <div>
                    <button class="btn btn-primary-text text-s ">Primary</button>
                </div>
                <div>
                    <button class="btn btn-secondary-text text-s">Secondary</button>
                </div>
            </div>
            <div class="iframe-container">
                <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary-text%2520text-s%2520%2522%253EPrimary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary-text%2520text-s%2522%253ESecondary%253C%252Fbutton%253E%250A"
                    style="width: 673px; height: 225px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>

            <h3>Sized buttons</h3>
            <div class="demo-container">
                <div>
                    <button class="btn btn-primary text-xs btn-small">Small</button>
                </div>
                <div>
                    <button class="btn btn-secondary text-xs btn-small">Small</button>
                </div>
                <div>
                    <button class="btn btn-primary text-l btn-large">Large</button>
                </div>
                <div>
                    <button class="btn btn-secondary text-l btn-large">Large</button>
                </div>
            </div>
            <div class="iframe-container">
                <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520text-xs%2520btn-small%2522%253ESmall%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary%2520text-xs%2520btn-small%2522%253ESmall%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520text-l%2520btn-large%2522%253ELarge%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary%2520text-l%2520btn-large%2522%253ELarge%253C%252Fbutton%253E%250A"
                    style="width: 689px; height: 262px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>

            <h3>Buttons with icons</h3>
            <p>Sometimes you might want to have icons for certain button to enhance the UX of the application as we recognize logos more easily than plain text. For example, if you have a delete button you can label it with a dustbin icon.
            </p>
            <div class="demo-container">
                <div>
                    <button class="btn btn-primary text-s">
                        <i class="fas fa-cart-plus"></i>Add to cart
                    </button>
                </div>
                <div>
                    <button class="btn btn-secondary-icon text-s">
                        <i class="fas fa-plus"></i>Add
                    </button>
                </div>
                <div>
                    <button class="btn btn-primary-icon text-s ">
                        <i class="fas fa-trash"></i>Delete
                    </button>
                </div>
            </div>
            <div class="iframe-container">
                <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520text-s%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522fas%2520fa-cart-plus%2522%253E%253C%252Fi%253EAdd%2520to%2520cart%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary-icon%2520text-s%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522fas%2520fa-plus%2522%253E%253C%252Fi%253EAdd%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary-icon%2520text-s%2520%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522fas%2520fa-trash%2522%253E%253C%252Fi%253EDelete%250A%253C%252Fbutton%253E%250A"
                    style="width: 521px; height: 392px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>

            <h3>Floating buttons</h3>
            <p>Icons are also appropriate for toggle buttons that allow a single choice to be selected or deselected, such as adding or removing a star to an item.</p>
            <div class="demo-container">
                <div>
                    <button class="btn btn-primary btn-float">
        <i class="fas fa-trash"></i>
      </button>
                </div>
                <div>
                    <button class="btn btn-primary btn-float">
        <i class="fas fa-plus"></i>
      </button>
                </div>
                <div>
                    <button class="btn btn-primary btn-float">
                        <i class="fas fa-pen"></i>
                    </button>
                </div>
            </div>
            <div class="iframe-container">
                <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-float%2522%253E%250A%2509%253Ci%2520class%253D%2522fas%2520fa-trash%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-float%2522%253E%250A%2509%253Ci%2520class%253D%2522fas%2520fa-plus%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-float%2522%253E%250A%2509%253Ci%2520class%253D%2522fas%2520fa-pen%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A"
                    style="width: 487px; height: 392px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>

            <h3>Link buttons</h3>
            <p>Want to attach a link action, at a button tap? Use Link Button</p>
            <div class="demo-container">
                <div>
                    <button class="btn btn-primary text-s btn-link">
                    <a href="../avatar/avatar.html">
                      Go to Avatar</a></button>
                </div>
            </div>
            <div class="iframe-container">
                <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520text-s%2520btn-link%2522%253E%250A%2520%2520%2520%253Ca%2520href%253D%2522..%252Favatar%252Favatar.html%2522%253EGo%2520to%2520Avatar%253C%252Fa%253E%250A%253C%252Fbutton%253E%250A"
                    style="width: 563px; height: 243px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
        </div>
        </div>
    </main>
</body>
<script src="../../scripts/script.js"></script>

</html>