.avatar {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

.avatar-small {
    width: 4rem;
    height: 4rem;
}

.avatar-xsmall {
    width: 2rem;
    height: 2rem;
}

.avatar-medium {
    width: 6rem;
    height: 6rem;
}

.avatar-large {
    width: 7rem;
    height: 7rem;
}

.avatar-xlarge {
    width: 9rem;
    height: 9rem;
}

.avatar-square {
    border-radius: 20%;
}