<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./avatar.css" />
    <title>Intact UI | Avatar</title>
</head>
<body>
    <img class="avatar avatar-small" src="../../assets/profile-picture.jpg" alt="profile-picture">
    <img class="avatar avatar-medium" src="../../assets/profile-picture.jpg" alt="profile-picture">
    <img class="avatar avatar-large" src="../../assets/profile-picture.jpg" alt="profile-picture">
    <img class="avatar avatar-square" src="../../assets/profile-picture.jpg" alt="profile-picture">
</body>
</html>
