<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../main.css" />
    <title>Intact UI | Avatar</title>
</head>

<body>
    <nav class="nav-section">
        <a href="../../index.html" id="logo">
            <h1 class="primary-color-text fw-900">
                Intact <span class="secondary-color-text fw-600">UI</span>
            </h1>
        </a>
        <a href="../docs.html">
            <p id="docs" class="text-s secondary-color-text fw-600">Docs</p>
        </a>
    </nav>

    <main class="main">
        <aside class="side-bar">
            <div><a href="../../components/docs.html">Installation</a></div>
            <div><a href="../typography/textUtils.html">Typography</a></div>
            <h3>Components</h3>
            <div><a href="../alert/alert.html">Alert</a></div>
            <div><a href="../avatar/avatar.html">Avatar</a></div>
            <div><a href="../badge/badge.html">Badge</a></div>
            <div><a href="../button/button.html">Button</a></div>
            <div><a href="../card/card.html">Card</a></div>
            <div><a href="../grid/grid.html">Grid</a></div>
            <div><a href="../image/image.html">Image</a></div>
            <div><a href="../input/input.html">Input</a></div>
            <div><a href="../toast/toast.html">Toast</a></div>

        </aside>
        <div class="content">
            <h1>Avatar</h1>
            <p>
                Avatars usually represent an user in a circular container.
            </p>
            <div class="demo-container">
                <img class="avatar avatar" src="../../assets/profile-picture.jpg" alt="profile-picture">
            </div>
            <div class="iframe-container">
                <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522avatar%2520avatar%2522%2520src%253D%2522..%252Fassets%252Fprofile-picture.jpg%2522%2520alt%253D%2522profile-picture%2522%253E%250A"
                    style="width: 850px; height: 206px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>

            <h2>Usage</h2>
            <h3>Sizable avatars</h3>
            <p>
                Different sizes are available. <span class="secondary-color-text fw-600">avatar-small, avatar-medium, avatar-large</span>
            </p>
            <div class="demo-container">
                <img class="avatar avatar-small" src="../../assets/profile-picture.jpg" alt="profile-picture">
                <img class="avatar avatar-medium" src="../../assets/profile-picture.jpg" alt="profile-picture">
                <img class="avatar avatar-large" src="../../assets/profile-picture.jpg" alt="profile-picture">
            </div>
            <div class="iframe-container">
                <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522avatar%2520avatar-small%2522%2520src%253D%2522..%252Fassets%252Fprofile-picture.jpg%2522%2520alt%253D%2522profile-picture%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2520avatar-medium%2522%2520src%253D%2522..%252Fassets%252Fprofile-picture.jpg%2522%2520alt%253D%2522profile-picture%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2520avatar-large%2522%2520src%253D%2522..%252Fassets%252Fprofile-picture.jpg%2522%2520alt%253D%2522profile-picture%2522%253E%250A"
                    style="width: 909px; height: 243px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>

            <h3>Rounded corners avatar</h3>
            <p>
                Square shaped avatar
            </p>
            <div class="demo-container">
                <img class="avatar avatar-square" src="../../assets/profile-picture.jpg" alt="profile-picture">
            </div>
            <div class="iframe-container">
                <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522avatar%2520avatar-square%2522%2520src%253D%2522..%252Fassets%252Fprofile-picture.jpg%2522%2520alt%253D%2522profile-picture%2522%253E%250A"
                    style="width: 909px; height: 206px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
        </div>
    </main>
</body>

</html>