:root {
  --red-color: red;
  --online-green: #12ac12;
  --away-yellow: #fca311;
  --offline-gray: lightgray;
  --whitesmoke-color: whitesmoke;
  --error-red: #eb1400;
  --warning-yellow: #ff9100;
  --info-blue: #0077b6;
  --success-green: #2b9348;
  --primary-blue: #0066ff;
  --primary-hover-blue: #0466c8;
  --primary-blue-disabled-color: rgba(0, 102, 255, 0.39);
  --whitesmoke-color: whitesmoke;
  --dark-theme-bg-color: #121212;
  --secondary-dark-blue: #1d2d44;
  --secondary-dark-blue-hover: #33415c;
  --secondary-dark-blue-disabled: rgb(29, 45, 68, 0.39);
  --success-green: #268541;
  --white-color: white;
  --lightish-gray: #423e3e;
  --turmeric-yellow: #ffe400;
}

.danger-color {
  color: var(--red-color);
}

.success-color {
  color: var(--success-green);
}
