<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./toast.css">
    <link rel="stylesheet" href="../colorPalette/colors.css">
    <link rel="stylesheet" href="../typography/textUtils.css">
    <script src="https://kit.fontawesome.com/8831240330.js" crossorigin="anonymous"></script>
    <title>Intact UI | Toast</title>
</head>
<body>
    <div class="toast-container">
    <div class="toast success">
        <p class="toast-msg">Your message is saved!</p>
    </div>
    <div class="toast success usr-action">
        <p class="toast-msg">Your message is saved!</p>
        <div class="close-icon"><i class="fas fa-times"></i></div>
    </div>
    <div class="toast failure usr-action">
        <p class="toast-msg">Your message could not be saved. Try again later.</p>
        <div class="close-icon"><i class="fas fa-times"></i></div>
    </div>
    </div>
</body>
</html>
