.rating-section {
  text-align: center;
  padding: 0.5rem;
}

.rating-section > input {
  display: none;
}

.rating-section > label {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--turmeric-yellow);
}

.rating-section input:checked + label ~ label {
  color: var(--offline-gray);
}
