.badge-container {
    position: relative;
    display: inline-block;
}

.badge {
    position: absolute;
    border-radius: 50%;
}

.badge-status {
    width: 1rem;
    height: 1rem;
    right: 0.1rem;
    bottom: 0.9rem;
}

.status-available {
    background-color: var(--online-green);
}

.status-away {
    background-color: var(--away-yellow);
}

.status-offline {
    background-color: var(--offline-gray);
}

.status-dnd {
    background-color: var(--red-color);
}

.badge-notif {
    background-color: var(--red-color);
    padding: 5px;
    color: var(--whitesmoke-color);
    text-align: center;
    top: -1rem;
    right: -0.8rem;
}

.badge-icon {
    background-color: var(--red-color);
    padding: 5px;
    color: var(--whitesmoke-color);
    text-align: center;
    top: -1.2rem;
    right: -1rem;
}