<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./badge.css">
    <link rel="stylesheet" href="../avatar/avatar.css">
    <link rel="stylesheet" href="../button/button.css">
    <script src="https://kit.fontawesome.com/8831240330.js" crossorigin="anonymous"></script>
    <title>Intact UI | Badge</title>
</head>
<body>
    <div class="badge-container">
        <img class="avatar avatar-medium" src="../../assets/profile-picture.jpg" alt="profile-picture">
        <div class="badge badge-status status-available"></div>
    </div>
    <div class="badge-container">
        <img class="avatar avatar-medium" src="../../assets/profile-picture.jpg" alt="profile-picture">
        <div class="badge badge-status status-offline"></div>
    </div>
    <div class="badge-container">
        <img class="avatar avatar-medium" src="../../assets/profile-picture.jpg" alt="profile-picture">
        <div class="badge badge-status status-dnd"></div>
    </div>
    <div class="badge-container">
        <img class="avatar avatar-medium" src="../../assets/profile-picture.jpg" alt="profile-picture">
        <div class="badge badge-status status-away"></div>
    </div>
    <div class="badge-container">
        <button class="btn btn-secondary">Button</button>
        <div class="badge badge-notif">10</div>
    </div>
    <div class="badge-container">
        <i class="fas fa-cart-plus fa-2x"></i>
        <div class="badge badge-icon">10+</div>
    </div>
</body>
</html>
