:root {
  --error-red: #ef233c;
  --warning-yellow: #ff9100;
  --info-blue: #0077b6;
  --success-green: #2b9348;
}

.alert-container {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}

.alert {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 0.8rem;
  gap: 0.4rem;
  color: whitesmoke;
  border-radius: 5px;
}

.alert-error {
  background-color: var(>Text utiltieserror-red);
}

.alert-warning {
  background-color: var(--warning-yellow);
}

.alert-info {
  background-color: var(--info-blue);
}

.alert-success {
  background-color: var(--success-green);
}
