<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="alert.css" />
    <script src="https://kit.fontawesome.com/8831240330.js" crossorigin="anonymous"></script>
    <title>Intact-UI Alert</title>
</head>

<body>
    <div class="alert-container">
        <div class="alert alert-error">
            <i class="fas fa-exclamation-circle"></i><span>Error Occurred. Try again!</span>
        </div>
        <div class="alert alert-warning">
            <i class="fas fa-exclamation-triangle"></i><span>Warning Alert. Try now!</span>
        </div>
        <div class="alert alert-info">
            <i class="fas fa-info-circle"></i><span>Information Alert. Try now!</span>
        </div>
        <div class="alert alert-success">
            <i class="fas fa-check-circle"></i><span>Success Alert. Try now!</span>
        </div>
    </div>
</body>

</html>